.LeafletContainer {
  width: 100%;
  height: 40vh;
  margin: auto;
  clear: both;
  margin-bottom: 10px;
}

.thumb {
  aspect-ratio: auto;
  max-width: 200px;
}

.card {
  border: none;
}

.card p {
  max-width: 200px;
}

.copyright {
  margin-top: 20px;
  font-size: x-small;
}