.App {
  text-align: center;
}

.LeafletContainer {
  width: 90%;
  height: 50vh;
  margin: auto;
  clear: both;
}

.thumb {
  max-height: 100px;
  margin: 10px;
}

.copyright {
  margin-top: 20px;
  font-size: x-small;
}